.status {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 120px;
		height: 44px;
		border-radius: 10px;
	}

	&__container {
		&--Ordered {
			@extend .status__container;
			background: #f5f5f5;
		}
		&--checkedIn {
			@extend .status__container;
			background: rgba(255, 143, 72, 0.15);
		}
		&--delivered {
			@extend .status__container;
			background: rgba(31, 171, 70, 0.1);
		}
		&--closed {
			@extend .status__container;
			background: rgba(57, 160, 255, 0.15);
		}
	}

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;

		&--Ordered {
			@extend .status__text;
			color: #969ba0;
		}
		&--checkedIn {
			@extend .status__text;
			color: #ff8f48;
		}
		&--delivered {
			@extend .status__text;
			color: #2bc155;
		}
		&--closed {
			@extend .status__text;
			color: #39a0ff;
		}
	}
}

.order-row {
	&:hover {
		background-color: #fffaeb;
	}
	&__actions {
		display: flex;
		align-items: center;
		.MuiFormControl-marginNormal {
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}
		.MuiButton-text {
			margin-left: 2rem;
			height: 3rem;
		}

		.MuiButton-startIcon {
			display: inherit;
			margin-right: 8px;
		}
		.MuiButton-endIcon {
			display: inherit;
			margin-left: 8px;
			margin-right: -24px;
		}
	}
	&__meal-text-wrapper {
		display: flex;
		width: 100%;
		min-width: 10rem;
	}
	&__meal-text {
		flex-grow: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 5px;
	}
	// No pregunten por qué, ésta es la solución a muchos problemas de dimensionamiento de la tabla
	.MuiTableCell-sizeSmall:last-child {
		width: 50px;
	}
}
