$red-100: #fcdcde;
$red-200: #f9b9bd;
$red-300: #f7969b;
$red-400: #f4737a;
$red-500: #f15059;
$red-600: #d94850;
$red-700: #c14047;
$red-800: #913035;
$red-900: #602024;

$purple-100: #e9d9ff;
$purple-200: #cdaaff;
$purple-300: #b484ff;
$purple-400: #9f68ff;
$purple-500: #8c54ff;
$purple-600: #6831c9;
$purple-700: #481893;
$purple-800: #2b075c;
$purple-900: #110026;

$green-100: #d9fcd9;
$green-200: #a5f2a3;
$green-300: #79e175;
$green-400: #53ca4e;
$green-500: #33ac2e;
$green-600: #1d9418;
$green-700: #0d7508;
$green-800: #035000;
$green-900: #002300;

$pink-100: #ffd9e5;
$pink-200: #ffa3c3;
$pink-300: #ff70a4;
$pink-400: #f84c88;
$pink-500: #e0326e;
$pink-600: #c21651;
$pink-700: #930438;
$pink-800: #5c0021;
$pink-900: #26000c;

$blue-base: #6cb1e6;
$blue-focus: #6cb1e6;
$blue-100: #d9f0ff;
$blue-200: #a3d3f7;
$blue-300: #6cb1e6;
$blue-400: #368acc;
$blue-500: #0060a9;
$blue-600: #004e96;
$blue-700: #003b7a;
$blue-800: #002654;
$blue-900: #001026;

$yellow-base: #f7c137;
$yellow-focus: #f7c137;
$yellow-100: #fffcd9;
$yellow-200: #fff4a3;
$yellow-300: #ffe770;
$yellow-400: #ffd64f;
$yellow-500: #f7c137;
$yellow-600: #c9a018;
$yellow-700: #937b04;
$yellow-800: #5c5100;
$yellow-900: #262300;

$gray-100: #f9f9fb;
$gray-200: #f0f1f5;
$gray-300: #e8eaef;
$gray-400: #d8dae4;
$gray-500: #bec1cc;
$gray-600: #a3a8b6;
$gray-700: #888e9f;
$gray-800: #515b70;
$gray-900: #1b293f;

$white-500: #ffffff;
$white-700: #fcfeff;

$black-500: #1f1f1f;
$black-900: #171717;
