@import "assets/scss/main";
.MuiSelect-root {
	position: relative;
}
.selectIcon {
	position: absolute;
	right: 1rem;
	top: auto;
	transform: rotate(0deg);
	transition: transform 0.5s;
	cursor: pointer;
}
.selectIcon.open {
	transform: rotate(180deg);
	transition: transform 0.5s;
	cursor: pointer;
}
.outlined-select {
	position: relative;
}
.outlined-select .error-icon,
.outlined-select .success-icon {
	position: absolute;
	right: 1rem;
}

.Mui-success:not(.Mui-disabled) {
	.MuiFormLabel-root,
	.MuiInputLabel-root,
	.MuiInputLabel-formControl {
		color: $green-500;
	}
	&.MuiFormLabel-root {
		color: $green-500;
	}
	&.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
	& .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
		border-color: $green-500;
		&:hover {
			border-color: $green-500;
		}
	}
	.MuiOutlinedInput-root:hover:not(.Mui-disabled):not(.Mui-focused):not(.Mui-error)
		.MuiOutlinedInput-notchedOutline {
		border-color: $green-500;
	}

	&.MuiOutlinedInput-root:hover:not(.Mui-disabled):not(.Mui-focused):not(.Mui-error)
		.MuiOutlinedInput-notchedOutline {
		border-color: $green-500;
	}
	&:hover {
		border-color: $green-500;
	}
}
.MuiInputBase-root:not(.Mui-disabled) {
	.error-icon {
		color: $red-500;
	}
	.success-icon {
		color: $green-500;
	}
}
